{% extends "layout.twig" %}
{% block content %}

<header class="bg-light py-5">
	<div class="container-fluid text-center">
			<h1>{{ meta.title }}</h1>
	</div>
</header>
	<div class="container my-5">
	<section>
		{{decode(content) | raw}}
	</section>
	</div>

{% endblock %}