{% extends "layout.twig" %}
{% block content  %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-5 py-5">
            <h1>404</h1>
            <p>Page not found.</p>
        </div>
    </div>
</div>
{%  endblock  %}