<div>
	<h4 aria-describedby="section heading">License Information</h4>
	<p>{{data.CopyrightInformation | raw}}</p>
	<a rel="license" href="/page/license-information" target="_blank">
		<img alt="Open access" class="me-2" style="height: 30px" src="https://upload.wikimedia.org/wikipedia/commons/2/25/Open_Access_logo_PLoS_white.svg" />
	</a>
	<a rel="license" class="float-end mx-3" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
		<img alt="Creative Commons License" style="height: 30px" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by.png" />
	</a>
</div>
