<nav class="navbar my-4 navbar-expand-lg sticky-top navbar-light bg-light shadow-sm" aria-label="Tab Navigation">
	<div class="container-fluid">
		<span class="navbar-brand font-weight-bold text-primary d-md-block d-lg-none">More Info</span>
		<button class="navbar-toggler" role="button" aria-label="Collapse navigation menu" aria-expanded="false" type="button" data-bs-toggle="collapse" data-bs-target="#article_nav">
			<i class="bi-list" aria-label="Collapse menu icon" aria-hidden="true"></i>
		</button>
		<div class="collapse navbar-collapse" id="article_nav" aria-label="Article navigation menu">
			<ul class="navbar-nav nav mx-auto fw-bold" id="myTab" role="tablist">
				<li class="nav-item" role="button">
					<a 
						class="nav-link active" 
						id="abstract-tab"
						aria-label="Go to abstract" 
						title="Go to abstract" 
						data-bs-toggle="tab" 
						href="#abstract" 
						role="tab" 
						aria-controls="abstract" 
						aria-selected="true"
					>
						Abstract
					</a>
				</li>
				<li class="nav-item" role="button">
					<a 
						class="nav-link" 
						id="article_info-tab" 
						aria-label="Go to article info" 
						title="Go to article info" 
						data-bs-toggle="tab" 
						href="#article_info" 
						role="tab" 
						aria-controls="article_info" 
						aria-selected="false"
					>
						Article Info
					</a>
				</li>
				<li class="nav-item" role="button">
					<a 
						class="nav-link" 
						id="how_cite-tab" 
						aria-label="Go to citaion info" 
						title="Go to citaion info" 
						data-bs-toggle="tab" 
						href="#how_cite" 
						role="tab" 
						aria-controls="how_cite" 
						aria-selected="false"
					>
						How to Cite
					</a>
				</li>
				<li class="nav-item" role="button">
					<a 
						class="nav-link" 
						id="citation-tab" 
						aria-label="Go to citaion tools" 
						title="Go to citaion tools" 
						data-bs-toggle="tab" 
						href="#citation" 
						role="tab" 
						aria-controls="citation" 
						aria-selected="false"
					>
						Citation Tools
					</a>
				</li>
				<li class="nav-item" role="button">
					<a 
						class="nav-link" 
						id="metrics-tab" 
						aria-label="Go to article metrics" 
						title="Go to article metrics" 
						data-bs-toggle="tab" 
						href="#metrics" 
						role="tab" 
						aria-controls="metrics" 
						aria-selected="false"
					>
						Article Metrics
					</a>
				</li>
				
				{% if files.html %}
					<li class="nav-item" role="button">
						<a 
							class="nav-link" 
							id="html-tab" 
							aria-label="Go to html fulltext" 
							title="Go to html fulltext" 
							data-bs-toggle="tab" 
							href="#html" 
							role="tab" 
							aria-controls="html" 
							aria-selected="false"
						>
							HTML Fulltext
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
