{% extends "layout.twig" %}
{% block content  %}
{# {% include "home/components/header.twig" %} #}

<main class="row gap-0 mx-0 px-0">
    <div class="col-lg-9 px-0 mx-0">{% include "home/components/left.twig" %}</div>
    <div class="col-lg-3 px-4 bg-primary py-5">{% include "home/components/right.twig" %}</div>
</main>
{%  endblock  %}