{% extends "/admin/partials/layout.twig" %}
{% block content %}
<form class="mb-6" action="/admin/update-editor/{{data.id}}" method="post">
    {% include "/admin/editors/form.twig" %}
</form>
{% endblock %}