<div class="row g-5">
    <div class="col-md-3">
        <div class="">
            <label class="form-label" for="editor_title">Title</label>
            <input type="text" value="{{data.editor_title}}" name="editor_title" class="form-control" id="editor_title">
        </div>
    </div>
    <div class="col-md-9">
        <div class="">
            <label class="form-label" for="editor_name">Name</label>
            <input type="text" value="{{data.editor_name}}" name="editor_name" class="form-control" id="editor_name">
        </div>
    </div>
    <div class="col-md-12">
        <div class="">
            <label class="form-label" for="editor_affiliation">Affiliation</label>
            <textarea rows="4" name="editor_affiliation" class="form-control" id="editor_affiliation">{{data.editor_affiliation | raw }}</textarea>

        </div>
    </div>
    <div class="col-md-12">
        <div class="">
            <label class="form-label" for="editor_description">Description</label>
            <textarea rows="10" name="editor_description" class="form-control" id="editor_description">{{data.editor_description | raw }}</textarea>
        </div>
    </div>
</div>
<div class="text-end mt-4">
    <button type="button" class="btn btn-sm btn-neutral me-2">Cancel</button>
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
</div>

{% block scripts %}
    <script
            type="text/javascript"
            src='/resources/assets/js/editor.js'>
    </script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#editor_description',
            height: 600,
            plugins: [
                'advlist autolink link lists charmap preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking',
                'table paste help'
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link | preview fullpage | ' +
                'forecolor backcolor | help',

            menubar: 'edit view insert format tools table help',
        });
    </script>

{% endblock %}